menu.horizontalNavCase
      ul.horizontalNav
        li.superCenterer 
          a(href='#recently') #{postTitle}
        li.superCenterer 
          a(href='#services') #{servicesTitle}
        li.superCenterer 
          a(href='#about') #{aboutTitle}
        li.superCenterer 
          a(href='#solution') #{solutionTitle}
        li.superCenterer 
          a(href='#exhibitMore') #{keysTitle}
        li.superCenterer 
          a(href='#inquiries') Inquiries
        li.superCenterer 
          a(href='https://illustratesideas.tumblr.com' target='_BLANK') More on my blog →&nbsp;