a(target='_BLANK' href=`https://www.tumblr.com/widgets/share/tool?canonicalUrl=${postUrl}`)#shareTumblr.shareTo
    img(alt='Tumblr' src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/MzcphckOtgNcfaCWWMTFWTqW')#tumblrShare.shareIcons
a(target='_BLANK' href=`https://telegram.me/share/url?url=${postUrl}`)#shareTelegram.shareTo
    img(alt='Telegram' src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/jpDAaUblQOXchSJzPKHXRlpS')#telegramShare.shareIcons
a(target='_BLANK' href=`https://www.snapchat.com/scan?attachmentUrl=${postUrl}`)#shareSnapchat.shareTo
    img(alt='Snapchat' src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/xFrUwDvsaVZIbfazKCtoDTFW')#snapchatShare.shareIcons
a(target='_BLANK' href=`http://pinterest.com/pin/create/button/?url=${postUrl}`)#sharePinterest.shareTo
    img(alt='Pinterest' src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/teaOSXqaxuRJQPfguVRnlMvw')#pinterestShare.shareIcons
a(target='_BLANK' href=`https://news.ycombinator.com/submitlink?u=${postUrl}`)#shareHackerNews.shareTo
    img(alt='Hacker News' src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/SVLDnVNzbcvXNPMPLURUDlsW')#hackerNewsShare.shareIcons
a(target='_BLANK' href=`https://gab.com/compose?text=Wow%20this%20looks%20delicious!&url=${postUrl}`)#shareGab.shareTo
    img(alt='Gab' src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/OItnYjzufLGGJkjeNfKBnPVF')#gabShare.shareIcons
a(target='_BLANK' href=`https://www.facebook.com/sharer/sharer.php?u=${postUrl}`)#shareFacebook.shareTo
    img(alt='Facebook' src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/NMejiZcQHtlvCztevoxgbdwU')#facebookShare.shareIcons
a(target='_BLANK' href=`mailto:?subject=This%20looks%20so%20good!body=${postUrl}`)#shareEmail.shareTo
    img(alt='Email' src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/hakXcKyERGfNQzQdLCdJvhwp')#emailShare.shareIcons
a(target='_BLANK' href=`https://www.blogger.com/blog_this.pyra?t=&u=${postUrl}`)#shareBlogger.shareTo
    img(alt='Blogger' src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/CmnMpuIjTJIGmooINvfxqjSI')#bloggerShare.shareIcons
a(target='_BLANK' href=`https://twitter.com/intent/tweet?url=${postUrl}`)#shareTwitter.shareTo
    img(alt='Twitter' src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/YJGFsTofAbmgHYoTMyybZBwL')#twitterShare.shareIcons
